.redacted {
    color: #272822 !important;
    background-color: #272822 !important;
    outline: solid 5px #272822 !important;
    -webkit-transform-style: preserve-3d;
    transform: rotate(2deg);
    -ms-transform: rotate(2deg); /* IE 9 */
    -webkit-transform: rotate(2deg); /* Safari and Chrome */
    -o-transform: rotate(2deg); /* Opera */
    -moz-transform: rotate(2deg); /* Firefox */
}
